*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden{display: none!important;}

@mixin centerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
body{
  font-family: 'Noto Sans Mende Kikakui', sans-serif;

  --width-page:80%;
  --active-color:rgba(0 123 255 / 100%);
  --active-color-2:rgba(0 123 255 / 50%);
  --active-color-3:rgba(40 168 136 / 100%);
  --active-color-4:rgba(40 168 136 / 50%);

  @media all and (min-width: 1400px) {
    --width-page:50%;
  }
  @media all and (max-width: 600px) {
    --width-page:95%;
  }
  main{
    width: 100%;
    @include centerFlex;
    flex-direction: column;
    font-size: 1.2em;

    a{
      color: var(--active-color);
      text-decoration: none;
      &:hover{color: var(--active-color-2)}
    }

    header{
      width: 100%;
      border-bottom: 1px solid #e2e2e2;
      padding: 2em 0 1em;
      position: sticky;
      top: 0;
      background: white;
      z-index: 9999;
      .container{
        display: flex;
        flex-wrap: wrap;
        width: var(--width-page);
        margin: auto;
        justify-content: space-between;
        gap: 1em;
        .top,
        .tabs{
          @include centerFlex;
          flex-direction: row;
          gap: 1em;
          overflow-x: auto;
          img{width: 50px}
          a#a-active{text-decoration: underline;}
        }
        .top{
          justify-content: flex-start;
          text-decoration: none!important;
          color: #000;
        }
        .tabs{
          justify-content: space-between;
          //width: 100%;
          li{
            text-decoration: none;
            list-style: none;
            &.github{
              margin-right: auto;
              padding: .2em .5em;
              background: var(--active-color);
              &:hover{background: var(--active-color-2)}
              border-radius: 5px;
              a{
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .release-banner{
      width: 100%;
      min-height: 40vh;
      background: #2f2f2f;
      margin-top: 5vh;
      padding: 5vh calc(20%/2);
      position: relative;
      overflow: hidden;
      @media all and (min-width: 1400px) {
        padding: 5vh calc(50%/2);
      }
      @media all and (max-width: 600px) {
        padding: 5vh calc(5%/2);
      }
      .fg{
        display: flex;
        flex-direction: column;
        z-index: 9998;
        position: relative;
        align-items: flex-start;
        h1{
          font-size: 4em;
          line-height: 1;
          background: -webkit-linear-gradient(0, var(--active-color), #a7ccfa);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          width: fit-content;
        }
        h3{
          color: #a3a3a3;
          margin-top: 1em;
          span{color: white}
          &.version{
            margin-top: 0.5em;
            color: white;
          }
        }
        a{
          margin-top: 2em;
          width: fit-content;
        }
        .line{
          margin-top: 5vh;
          display: flex;
          gap: 1em;
          width: 100%;
          label{
            width: 33vw;
            input{
              background: rgba(255, 255, 255, 0.3);
              color: white;
              padding: 1em 1em;
              border-radius: 5px;
              border: 1px solid rgba(255, 255, 255, 0.4);
              font-size: .8em;
              width: 100%;
              &::placeholder{
                color: white;
              }
            }
          }
          button{
            width: fit-content;
            font-size: .8em;
            background: var(--active-color);
            color: white;
            border-radius: 5px;
            border: 1px solid rgba(255, 255, 255, 0.4);
            padding: 1em 2em;
            cursor: pointer;
          }
        }
      }
      .wave {
        background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 6400px;
        height: 198px;
        animation: wave 6.8s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
        transform: translate3d(0, 0, 0);
        opacity: .3;
        &:nth-of-type(2) {
          animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
          opacity: .2;
        }
        &:nth-of-type(3) {
          animation: wave 6.9s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
          opacity: .6;
        }
      }

      @keyframes wave {
        0% {
          margin-left: 0;
        }
        100% {
          margin-left: -1600px;
        }
      }

      @keyframes swell {
        0%, 100% {
          transform: translate3d(0,30px,0);
        }
        50% {
          transform: translate3d(0,5px,0);
        }
      }

      @media all and (max-width: 600px) {
        .fg{
          align-items: center!important;
          h1{
            text-align: center;
            font-size: 2.5em!important;
          }
          h3{text-align: center}
          a{font-size: .8em}
          .line{
            flex-direction: column;
            align-items: flex-end;
            label{
              width: 100% !important;
            }
          }
        }
      }
    }

    .content{
      width: var(--width-page);
      margin: 0 0 5vh 0;
      h1#h1-top{margin: 5vh auto 5vh}
      .img{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        img{
          width: 100%;
          border-radius: 5px;
          &.alone{grid-column: span 2}
          @media all and (max-width: 600px) {
            grid-column: span 2
          }
        }
      }
      .wrapper-text,
      .wrapper-cl{
        h1{
          margin: 2vh 0;
          a{font-size: 75%}
        }
        p{
          line-height: 1.8;
          //font-size: 1.2em;
          span{
            color: var(--active-color-3);
            padding: .2em .5em;
            background: #e2e2e2;
            border-radius: 5px;
          }
        }
        ul{
          //font-size: 1.2em;
          margin-left: 50px;
          li{
            margin: 1em 0;
            &.active{color: var(--active-color-3)}
          }
        }
      }
      .wrapper-cl{
        @include centerFlex;
        flex-direction: column;
        gap: 10vh;
        .element{
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 6vw;
          width: 100%;
          @media all and (max-width: 600px) {
            grid-template-columns: 1fr;
            //.version{ .pos{align-items: flex-start!important} }
          }
          .version{
            display: flex;
            flex-direction: column;
            .pos{
              position: sticky;
              top: 20vh;
              display: flex;
              flex-direction: column;
              //align-items: flex-end;
              .label{
                //margin-top: 1em;
                background: #e2e2e2;
                padding: .2em .5em;
                border-radius: 5px;
                width: fit-content;
                margin-bottom: .5em;
              }
            }
          }
          .content-cl{
            width: 100%;
            img{
              width: 100%;
              border-radius: 5px;
              margin-bottom: 2vh;
            }
            h2{margin: 2vh 0}
          }
        }
      }
    }
  }
}