*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

*.hidden {
  display: none !important;
}

body {
  font-family: "Noto Sans Mende Kikakui", sans-serif;
  --width-page:80%;
  --active-color:rgba(0 123 255 / 100%);
  --active-color-2:rgba(0 123 255 / 50%);
  --active-color-3:rgba(40 168 136 / 100%);
  --active-color-4:rgba(40 168 136 / 50%);
}
@media all and (min-width: 1400px) {
  body {
    --width-page:50%;
  }
}
@media all and (max-width: 600px) {
  body {
    --width-page:95%;
  }
}
body main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  font-size: 1.2em;
}
body main a {
  color: var(--active-color);
  text-decoration: none;
}
body main a:hover {
  color: var(--active-color-2);
}
body main header {
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  padding: 2em 0 1em;
  position: sticky;
  top: 0;
  background: white;
  z-index: 9999;
}
body main header .container {
  display: flex;
  flex-wrap: wrap;
  width: var(--width-page);
  margin: auto;
  justify-content: space-between;
  gap: 1em;
}
body main header .container .top,
body main header .container .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  gap: 1em;
  overflow-x: auto;
}
body main header .container .top img,
body main header .container .tabs img {
  width: 50px;
}
body main header .container .top a#a-active,
body main header .container .tabs a#a-active {
  text-decoration: underline;
}
body main header .container .top {
  justify-content: flex-start;
  text-decoration: none !important;
  color: #000;
}
body main header .container .tabs {
  justify-content: space-between;
}
body main header .container .tabs li {
  text-decoration: none;
  list-style: none;
}
body main header .container .tabs li.github {
  margin-right: auto;
  padding: 0.2em 0.5em;
  background: var(--active-color);
  border-radius: 5px;
}
body main header .container .tabs li.github:hover {
  background: var(--active-color-2);
}
body main header .container .tabs li.github a {
  color: #fff;
  text-decoration: none;
}
body main .release-banner {
  width: 100%;
  min-height: 40vh;
  background: #2f2f2f;
  margin-top: 5vh;
  padding: 5vh 10%;
  position: relative;
  overflow: hidden;
}
@media all and (min-width: 1400px) {
  body main .release-banner {
    padding: 5vh 25%;
  }
}
@media all and (max-width: 600px) {
  body main .release-banner {
    padding: 5vh 2.5%;
  }
}
body main .release-banner .fg {
  display: flex;
  flex-direction: column;
  z-index: 9998;
  position: relative;
  align-items: flex-start;
}
body main .release-banner .fg h1 {
  font-size: 4em;
  line-height: 1;
  background: -webkit-linear-gradient(0, var(--active-color), #a7ccfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}
body main .release-banner .fg h3 {
  color: #a3a3a3;
  margin-top: 1em;
}
body main .release-banner .fg h3 span {
  color: white;
}
body main .release-banner .fg h3.version {
  margin-top: 0.5em;
  color: white;
}
body main .release-banner .fg a {
  margin-top: 2em;
  width: fit-content;
}
body main .release-banner .fg .line {
  margin-top: 5vh;
  display: flex;
  gap: 1em;
  width: 100%;
}
body main .release-banner .fg .line label {
  width: 33vw;
}
body main .release-banner .fg .line label input {
  background: rgba(255, 255, 255, 0.3);
  color: white;
  padding: 1em 1em;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 0.8em;
  width: 100%;
}
body main .release-banner .fg .line label input::placeholder {
  color: white;
}
body main .release-banner .fg .line button {
  width: fit-content;
  font-size: 0.8em;
  background: var(--active-color);
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 1em 2em;
  cursor: pointer;
}
body main .release-banner .wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 6400px;
  height: 198px;
  animation: wave 6.8s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.3;
}
body main .release-banner .wave:nth-of-type(2) {
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 0.2;
}
body main .release-banner .wave:nth-of-type(3) {
  animation: wave 6.9s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 0.6;
}
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%, 100% {
    transform: translate3d(0, 30px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
@media all and (max-width: 600px) {
  body main .release-banner .fg {
    align-items: center !important;
  }
  body main .release-banner .fg h1 {
    text-align: center;
    font-size: 2.5em !important;
  }
  body main .release-banner .fg h3 {
    text-align: center;
  }
  body main .release-banner .fg a {
    font-size: 0.8em;
  }
  body main .release-banner .fg .line {
    flex-direction: column;
    align-items: flex-end;
  }
  body main .release-banner .fg .line label {
    width: 100% !important;
  }
}
body main .content {
  width: var(--width-page);
  margin: 0 0 5vh 0;
}
body main .content h1#h1-top {
  margin: 5vh auto 5vh;
}
body main .content .img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
body main .content .img img {
  width: 100%;
  border-radius: 5px;
}
body main .content .img img.alone {
  grid-column: span 2;
}
@media all and (max-width: 600px) {
  body main .content .img img {
    grid-column: span 2;
  }
}
body main .content .wrapper-text h1,
body main .content .wrapper-cl h1 {
  margin: 2vh 0;
}
body main .content .wrapper-text h1 a,
body main .content .wrapper-cl h1 a {
  font-size: 75%;
}
body main .content .wrapper-text p,
body main .content .wrapper-cl p {
  line-height: 1.8;
}
body main .content .wrapper-text p span,
body main .content .wrapper-cl p span {
  color: var(--active-color-3);
  padding: 0.2em 0.5em;
  background: #e2e2e2;
  border-radius: 5px;
}
body main .content .wrapper-text ul,
body main .content .wrapper-cl ul {
  margin-left: 50px;
}
body main .content .wrapper-text ul li,
body main .content .wrapper-cl ul li {
  margin: 1em 0;
}
body main .content .wrapper-text ul li.active,
body main .content .wrapper-cl ul li.active {
  color: var(--active-color-3);
}
body main .content .wrapper-cl {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 10vh;
}
body main .content .wrapper-cl .element {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6vw;
  width: 100%;
}
@media all and (max-width: 600px) {
  body main .content .wrapper-cl .element {
    grid-template-columns: 1fr;
  }
}
body main .content .wrapper-cl .element .version {
  display: flex;
  flex-direction: column;
}
body main .content .wrapper-cl .element .version .pos {
  position: sticky;
  top: 20vh;
  display: flex;
  flex-direction: column;
}
body main .content .wrapper-cl .element .version .pos .label {
  background: #e2e2e2;
  padding: 0.2em 0.5em;
  border-radius: 5px;
  width: fit-content;
  margin-bottom: 0.5em;
}
body main .content .wrapper-cl .element .content-cl {
  width: 100%;
}
body main .content .wrapper-cl .element .content-cl img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 2vh;
}
body main .content .wrapper-cl .element .content-cl h2 {
  margin: 2vh 0;
}

/*# sourceMappingURL=main.css.map */
