:root {
    --tinted-main-light-color: 245 224 210;
    --tinted-main-dark-color: 90 50 50;
    --topbar-light-color: 248 234  218;
    --topbar-dark-color: 162 76 35;
    --active-light-color: 230 126 34;
    --active-dark-color: var(--active-light-color);
    --border-of-elements-light-color: 190 89 41;
    --border-of-elements-dark-color: 248 234 218;
    --grad1: #E67E22!important;
    --grad2: #A84300!important;
    --grad1_op: rgba(230, 126, 34, 0.5) !important;
    --grad2_op: rgba(168, 67, 0, 0.5) !important;
    --tint1: #E67E22;
    --tint2: #FF8C00;
    --tint3: #FFA500;
    --tint4: #FFB266;
    --tint5: #FFC299;
    --tint6: #FFD1B3;
    --tint7: #FFE0CC;
}
.rank-1,
.rank-2,
.rank-3,
.rank-4{
    border: 1px solid var(--grad1)!important;
}
.label-1{background: var(--tint1)!important}
.label-2{background: var(--tint2)!important}
.label-3{background: var(--tint3)!important}
.label-4{background: var(--tint4)!important}
.label-1,
.label-2,
.label-3,
.label-4{
    color: var(--w);
}
*[data-family='var(--f0)']{
    background: var(--tint1)!important;
    border: 1px solid var(--tint1)!important;
}
*[data-family='var(--f1)']{
    background: var(--tint2)!important;
    border: 1px solid var(--tint2)!important;
}
*[data-family='var(--f2)']{
    background: var(--tint3)!important;
    border: 1px solid var(--tint3)!important;
}
*[data-family='var(--f3)']{
    background: var(--tint4)!important;
    border: 1px solid var(--tint4)!important;
}
*[data-family='var(--f0)'],
*[data-family='var(--f1)'],
*[data-family='var(--f2)'],
*[data-family='var(--f3)']{
    color: var(--w)!important;
}